enum-mate==0.1.1 ; python_version >= "3.9" and python_version < "4.0"
func-args==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
iterproxy==0.3.1 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version <= "3.10"
six==1.17.0 ; python_version >= "3.9" and python_version <= "3.10"
soft-deps==0.1.1 ; python_version >= "3.9" and python_version < "4.0"
